@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");

:root {
	--primaryYellow: #ffc529;
	--secondayYellow: #feb74c;
	--white: #ffffff;
	--black: #000000;
	--mainBackground: #232323;
}

body {
	background-color: var(--mainBackground);
	font-family: "Inder", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	padding: 1rem;
	font-size: 16px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	color: var(--primaryYellow);
}
.navbar img {
	width: 60px;
	height: 33px;
}
.navbar h2 {
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0;
}

/**************
**** MAIN ****
**************/
.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.main-text {
	width: 40%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding-left: 2rem;
}
.main-photos {
	width: 60%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/**************
** MAIN TEXT **
**************/
.main-text h1 {
	font-weight: 400;
	font-size: 7rem;
	line-height: 7rem;
	color: var(--primaryYellow);
	text-shadow: 0px 4px 20px #000000;
	margin-top: 50px;
	margin-bottom: 25px;
}
.main-text p {
	font-size: 1rem;
	line-height: 1.3rem;
	color: var(--white);
}
.main-text button {
	background-color: var(--primaryYellow);
	border-radius: 40px;
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 29px;
	width: max-content;
	padding: 5px 20px;
	margin: 8px 0;
	color: var(--mainBackground);
}
button:hover {
	background-color: var(--black);
	color: var(--secondayYellow);
}

/**************
* MAIN PHOTOS *
**************/
.main-photos {
	position: relative;
	padding-left: 100px;
	display: flex;
}
.main-photos h3 {
	text-align: center;
	font-weight: 400;
	font-size: 36px;
	line-height: 45px;
	width: 250px;
	color: #000000;
	position: relative;
	left: 250px;
	top: -20px;

	text-shadow: 1px 1px 5px #feb74c;
}
.phone {
	height: 450px;
	width: auto;
	position: absolute;
	padding-top: 150px;
}

.search {
	top: 250px;
	left: 370px;
}
.arrow {
	width: 300px;
	height: auto;
	position: absolute;
	left: 300px;
	top: 100px;
}

/**************
* RESPONSIVE *
**************/
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.main {
		display: flex;
		flex-direction: column;
	}
	.main-text {
		width: 100%;
		height: max-content;
		padding-right: 2rem;
	}
	.main-photos {
		width: 100%;
		display: flex;
		margin: 0 auto;
	}
}

/* Phone */
@media screen and (max-width: 767px) {
	.main {
		display: flex;
		flex-direction: column;
	}
	.main-text {
		width: 100%;
		height: max-content;
		padding-right: 2rem;
	}
	.main-photos {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		margin: 0 auto;
	}
	.phone {
		display: flex;
		justify-content: center;
	}

	.main-photos h3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
