@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");

:root {
	--primaryYellow: #ffc529;
	--secondayYellow: #feb74c;
	--white: #ffffff;
	--black: #000000;
	--mainBackground: #232323;
}

body {
	background-color: var(--mainBackground);
	font-family: "Inder", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	padding: 1rem;
	font-size: 2rem;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 0.625rem;
	color: var(--primaryYellow);
}
nav > img {
	width: 3.75rem;
	height: 2rem;
}
nav > h2 {
	font-style: normal;
	font-weight: 400;
	font-size: 2.5rem;
	line-height: 3.125rem;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0;
}

/**************
**** MAIN ****
**************/
.main {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.main-photos {
	text-align: center;
}

/**************
** MAIN TEXT **
**************/
.main-text > h1 {
	font-weight: 400;
	font-size: 7rem;
	line-height: 7rem;
	color: var(--primaryYellow);
	text-shadow: 0px 4px 20px #000000;
	margin-top: 3.125rem;
	margin-bottom: 1.563rem;
	display: inline;
}
@media screen and (max-width: 900px) {
	.main-text > h1 {
		font-size: 5rem;
		text-align: center;
	}
}

.main-text > p {
	font-size: 1rem;
	line-height: 1.3rem;
	color: var(--white);
}
.main-text > button {
	background-color: var(--primaryYellow);
	border-radius: 2.5rem;
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 2rem;
	width: max-content;
	padding: 0.313rem 1.25rem;
	margin: 0.5rem 0;
	color: var(--mainBackground);
}
button:hover {
	background-color: var(--black);
	color: var(--secondayYellow);
}

/**************
* MAIN PHOTOS *
**************/
.main-photos > h3 {
	text-align: center;
	font-weight: 400;
	font-size: 2.25rem;
	line-height: 2.813rem;
	margin-top: 3.125rem;
	margin-bottom: 3.125rem;
	color: var(--black);
	text-shadow: 1px 1px 5px var(--secondayYellow);
}

.phone {
	height: 28rem;
	width: 13rem;
	margin: 0 2rem;
}
